img {
  width: 100px;
  border-radius: 10px;
}

.margin_form {
  margin-bottom: 12px;
}

.item_cart {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.item_cart-details {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.input_number {
  width: 80px;
  text-align: center;
}

.container_cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.panel_cart {
  margin-left: 50px;
  margin-right: 50px;
}

.empty_message_cart {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.padding-y-m {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-x-s {
  padding-left: 6px;
  padding-right: 6px;
}
.padding-y-s {
  padding-top: 6px;
  padding-bottom: 6px;
}

.margin-bottom-base {
  margin-bottom: 8px;
}

.margin-bottom-m {
  margin-bottom: 10px;
}

.button_cart {
  padding: 15px 20px;
  background-color: #33b5e5;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

.button_cart:hover {
  background-color: #1d718f;
}

.font-size-12px {
  font-size: 12px;
}

.width-280px {
  width: 280px;
}

.border-radius-soft {
  border-radius: 5px;
}

.opacity-lighter {
  opacity: 0.6;
}

.invalid-msg {
  color: red;
}

.display-flex {
  display: flex;
  flex-direction: column;
}

button[disabled] {
  background-color: #ccc;
  color: #777;
  cursor: not-allowed;
  pointer-events: none;
}
